{
    "openapi": "3.0.0",
    "info": {
        "title": "Blog Laravel API",
        "description": "API documentation for Blog Laravel application using CQRS pattern with UUID-based entities",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://bobur.xyz"
        },
        {
            "url": "http://localhost:80",
            "description": "Local development server"
        },
        {
            "url": "https://nginx.blog.orb.local"
        }
    ],
    "paths": {
        "/api/v1/register": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Register a new user",
                "operationId": "38e3071463848ba373dfeae5623cdfa4",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "email",
                                    "password",
                                    "password_confirmation"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "maxLength": 255,
                                        "minLength": 1,
                                        "example": "John Doe"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "john@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "minLength": 6,
                                        "example": "password123"
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful registration",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "properties": {
                                                "en": {
                                                    "type": "string",
                                                    "example": "User registered successfully"
                                                },
                                                "ru": {
                                                    "type": "string",
                                                    "example": "Пользователь успешно зарегистрирован"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Token"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "properties": {
                                                "en": {
                                                    "type": "string",
                                                    "example": "Validation failed"
                                                },
                                                "ru": {
                                                    "type": "string",
                                                    "example": "Ошибка валидации данных"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "data": {
                                            "type": "object",
                                            "example": {
                                                "email": [
                                                    "The email field is required."
                                                ]
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Login user",
                "operationId": "b9b760991d94b179960cd7ddc93eedf2",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "john@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful login",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "properties": {
                                                "en": {
                                                    "type": "string",
                                                    "example": "User logged in successfully"
                                                },
                                                "ru": {
                                                    "type": "string",
                                                    "example": "Пользователь успешно вошел в систему"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Token"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Invalid credentials",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "properties": {
                                                "en": {
                                                    "type": "string",
                                                    "example": "Unauthenticated"
                                                },
                                                "ru": {
                                                    "type": "string",
                                                    "example": "Необходима авторизация"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "properties": {
                                                "en": {
                                                    "type": "string",
                                                    "example": "Validation failed"
                                                },
                                                "ru": {
                                                    "type": "string",
                                                    "example": "Ошибка валидации данных"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "data": {
                                            "type": "object",
                                            "example": {
                                                "email": [
                                                    "The email field is required."
                                                ]
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/me": {
            "get": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Get authenticated user information",
                "operationId": "c24e88aea4324667c5f4e38549a5298f",
                "responses": {
                    "200": {
                        "description": "User information",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "properties": {
                                                "en": {
                                                    "type": "string",
                                                    "example": "Operation completed successfully"
                                                },
                                                "ru": {
                                                    "type": "string",
                                                    "example": "Операция выполнена успешно"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/User"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "properties": {
                                                "en": {
                                                    "type": "string",
                                                    "example": "Unauthenticated"
                                                },
                                                "ru": {
                                                    "type": "string",
                                                    "example": "Необходима авторизация"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/logout": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Logout user",
                "operationId": "b66dd8a7864f561822c01bc8339363fb",
                "responses": {
                    "200": {
                        "description": "Successfully logged out",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "properties": {
                                                "en": {
                                                    "type": "string",
                                                    "example": "User logged out successfully"
                                                },
                                                "ru": {
                                                    "type": "string",
                                                    "example": "Пользователь успешно вышел из системы"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "data": {
                                            "type": "null",
                                            "nullable": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "properties": {
                                                "en": {
                                                    "type": "string",
                                                    "example": "Unauthenticated"
                                                },
                                                "ru": {
                                                    "type": "string",
                                                    "example": "Необходима авторизация"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/refresh": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Refresh JWT token",
                "operationId": "a501ac96cd420264a7019d4e727a867e",
                "responses": {
                    "200": {
                        "description": "New access token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "properties": {
                                                "en": {
                                                    "type": "string",
                                                    "example": "Token refreshed successfully"
                                                },
                                                "ru": {
                                                    "type": "string",
                                                    "example": "Токен успешно обновлен"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Token"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated - Invalid or expired token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "properties": {
                                                "en": {
                                                    "type": "string",
                                                    "example": "Unauthenticated"
                                                },
                                                "ru": {
                                                    "type": "string",
                                                    "example": "Необходима авторизация"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/blog-posts": {
            "get": {
                "tags": [
                    "Blog Posts"
                ],
                "summary": "List all published blog posts",
                "operationId": "0c658a50b7b4e77330ddc8714078fda2",
                "parameters": [
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Number of posts per page",
                        "schema": {
                            "type": "integer",
                            "default": 10,
                            "maximum": 100,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number",
                        "schema": {
                            "type": "integer",
                            "default": 1,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "author_id",
                        "in": "query",
                        "description": "Filter by author UUID",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of published blog posts",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "properties": {
                                                "en": {
                                                    "type": "string",
                                                    "example": "Success"
                                                },
                                                "ru": {
                                                    "type": "string",
                                                    "example": "Успех"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/BlogPost"
                                            }
                                        },
                                        "meta": {
                                            "description": "Pagination metadata",
                                            "properties": {
                                                "current_page": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "from": {
                                                    "type": "integer",
                                                    "example": 1,
                                                    "nullable": true
                                                },
                                                "last_page": {
                                                    "type": "integer",
                                                    "example": 5
                                                },
                                                "per_page": {
                                                    "type": "integer",
                                                    "example": 10
                                                },
                                                "to": {
                                                    "type": "integer",
                                                    "example": 10,
                                                    "nullable": true
                                                },
                                                "total": {
                                                    "type": "integer",
                                                    "example": 50
                                                }
                                            },
                                            "type": "object",
                                            "nullable": true
                                        },
                                        "links": {
                                            "description": "Pagination links",
                                            "properties": {
                                                "first": {
                                                    "type": "string",
                                                    "example": "http://localhost:8080/api/v1/blog-posts?page=1"
                                                },
                                                "last": {
                                                    "type": "string",
                                                    "example": "http://localhost:8080/api/v1/blog-posts?page=5"
                                                },
                                                "prev": {
                                                    "type": "string",
                                                    "example": null,
                                                    "nullable": true
                                                },
                                                "next": {
                                                    "type": "string",
                                                    "example": "http://localhost:8080/api/v1/blog-posts?page=2",
                                                    "nullable": true
                                                }
                                            },
                                            "type": "object",
                                            "nullable": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            },
            "post": {
                "tags": [
                    "Blog Posts"
                ],
                "summary": "Create a new blog post",
                "operationId": "04de636194eaa47a0220ed2f93efb2da",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "title",
                                    "content"
                                ],
                                "properties": {
                                    "title": {
                                        "type": "string",
                                        "maxLength": 255,
                                        "minLength": 3,
                                        "example": "My First Blog Post"
                                    },
                                    "content": {
                                        "type": "string",
                                        "maxLength": 50000,
                                        "minLength": 10,
                                        "example": "This is the content of my blog post..."
                                    },
                                    "slug": {
                                        "type": "string",
                                        "example": "my-first-blog-post",
                                        "nullable": true
                                    },
                                    "tags": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        },
                                        "example": [
                                            "laravel",
                                            "php"
                                        ],
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Blog post created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "properties": {
                                                "en": {
                                                    "type": "string",
                                                    "example": "Blog post created successfully"
                                                },
                                                "ru": {
                                                    "type": "string",
                                                    "example": "Статья в блоге успешно создана"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/BlogPost"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "properties": {
                                                "en": {
                                                    "type": "string",
                                                    "example": "Validation failed"
                                                },
                                                "ru": {
                                                    "type": "string",
                                                    "example": "Ошибка валидации"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "data": {
                                            "type": "object",
                                            "example": {
                                                "title": [
                                                    "The title field is required."
                                                ]
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "properties": {
                                                "en": {
                                                    "type": "string",
                                                    "example": "Unauthenticated"
                                                },
                                                "ru": {
                                                    "type": "string",
                                                    "example": "Не аутентифицирован"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/blog-posts/{id}": {
            "get": {
                "tags": [
                    "Blog Posts"
                ],
                "summary": "Get blog post by ID",
                "operationId": "e49722f1ba6d2294f8ca0f24fe339706",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Blog Post UUID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Blog post details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "properties": {
                                                "en": {
                                                    "type": "string",
                                                    "example": "Success"
                                                },
                                                "ru": {
                                                    "type": "string",
                                                    "example": "Успех"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/BlogPost"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Blog post not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "properties": {
                                                "en": {
                                                    "type": "string",
                                                    "example": "Blog post not found"
                                                },
                                                "ru": {
                                                    "type": "string",
                                                    "example": "Статья в блоге не найдена"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Blog Posts"
                ],
                "summary": "Update blog post",
                "operationId": "bb7abbb6c2ea7006f113a708b8007185",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Blog Post UUID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "title",
                                    "content"
                                ],
                                "properties": {
                                    "title": {
                                        "type": "string",
                                        "maxLength": 255,
                                        "minLength": 3,
                                        "example": "Updated Blog Post Title"
                                    },
                                    "content": {
                                        "type": "string",
                                        "maxLength": 50000,
                                        "minLength": 10,
                                        "example": "Updated content..."
                                    },
                                    "slug": {
                                        "type": "string",
                                        "example": "updated-blog-post-title",
                                        "nullable": true
                                    },
                                    "tags": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        },
                                        "example": [
                                            "laravel",
                                            "php",
                                            "update"
                                        ],
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Blog post updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "properties": {
                                                "en": {
                                                    "type": "string",
                                                    "example": "Blog post updated successfully"
                                                },
                                                "ru": {
                                                    "type": "string",
                                                    "example": "Статья в блоге успешно обновлена"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/BlogPost"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Blog post not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "properties": {
                                                "en": {
                                                    "type": "string",
                                                    "example": "Blog post not found"
                                                },
                                                "ru": {
                                                    "type": "string",
                                                    "example": "Статья в блоге не найдена"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "properties": {
                                                "en": {
                                                    "type": "string",
                                                    "example": "Validation failed"
                                                },
                                                "ru": {
                                                    "type": "string",
                                                    "example": "Ошибка валидации"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "data": {
                                            "type": "object",
                                            "example": {
                                                "title": [
                                                    "The title field is required."
                                                ]
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "properties": {
                                                "en": {
                                                    "type": "string",
                                                    "example": "Unauthenticated"
                                                },
                                                "ru": {
                                                    "type": "string",
                                                    "example": "Не аутентифицирован"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden - User is not authorized to update this blog post",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "properties": {
                                                "en": {
                                                    "type": "string",
                                                    "example": "Forbidden"
                                                },
                                                "ru": {
                                                    "type": "string",
                                                    "example": "Доступ запрещен"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Blog Posts"
                ],
                "summary": "Delete blog post",
                "operationId": "7c69d0a41f77102bef7ae6ccff2de436",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Blog Post UUID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Blog post deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "properties": {
                                                "en": {
                                                    "type": "string",
                                                    "example": "Blog post deleted successfully"
                                                },
                                                "ru": {
                                                    "type": "string",
                                                    "example": "Статья в блоге успешно удалена"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/BlogPost"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Blog post not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "properties": {
                                                "en": {
                                                    "type": "string",
                                                    "example": "Blog post not found"
                                                },
                                                "ru": {
                                                    "type": "string",
                                                    "example": "Статья в блоге не найдена"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "properties": {
                                                "en": {
                                                    "type": "string",
                                                    "example": "Unauthenticated"
                                                },
                                                "ru": {
                                                    "type": "string",
                                                    "example": "Не аутентифицирован"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden - User is not authorized to delete this blog post",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "properties": {
                                                "en": {
                                                    "type": "string",
                                                    "example": "Forbidden"
                                                },
                                                "ru": {
                                                    "type": "string",
                                                    "example": "Доступ запрещен"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/blog-posts/slug/{slug}": {
            "get": {
                "tags": [
                    "Blog Posts"
                ],
                "summary": "Get blog post by slug",
                "operationId": "2a17307057d1c46ebecaf0a5782e18c0",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Blog Post slug",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "my-first-blog-post"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Blog post details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "properties": {
                                                "en": {
                                                    "type": "string",
                                                    "example": "Success"
                                                },
                                                "ru": {
                                                    "type": "string",
                                                    "example": "Успех"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/BlogPost"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Blog post not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "properties": {
                                                "en": {
                                                    "type": "string",
                                                    "example": "Blog post not found"
                                                },
                                                "ru": {
                                                    "type": "string",
                                                    "example": "Статья в блоге не найдена"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/blog-posts/{id}/publish": {
            "post": {
                "tags": [
                    "Blog Posts"
                ],
                "summary": "Publish blog post",
                "operationId": "59951afcebdb16292ffc69d5ffb254bf",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Blog Post UUID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Blog post published successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "properties": {
                                                "en": {
                                                    "type": "string",
                                                    "example": "Blog post published successfully"
                                                },
                                                "ru": {
                                                    "type": "string",
                                                    "example": "Статья в блоге успешно опубликована"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/BlogPost"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Blog post not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "properties": {
                                                "en": {
                                                    "type": "string",
                                                    "example": "Blog post not found"
                                                },
                                                "ru": {
                                                    "type": "string",
                                                    "example": "Статья в блоге не найдена"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "properties": {
                                                "en": {
                                                    "type": "string",
                                                    "example": "Unauthenticated"
                                                },
                                                "ru": {
                                                    "type": "string",
                                                    "example": "Не аутентифицирован"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden - User is not authorized to publish this blog post",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "properties": {
                                                "en": {
                                                    "type": "string",
                                                    "example": "Forbidden"
                                                },
                                                "ru": {
                                                    "type": "string",
                                                    "example": "Доступ запрещен"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/blog-posts/{id}/archive": {
            "post": {
                "tags": [
                    "Blog Posts"
                ],
                "summary": "Archive blog post",
                "operationId": "a1fe6183f1b869046ea40e3986f950b4",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Blog Post UUID",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Blog post archived successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "properties": {
                                                "en": {
                                                    "type": "string",
                                                    "example": "Blog post archived successfully"
                                                },
                                                "ru": {
                                                    "type": "string",
                                                    "example": "Статья в блоге успешно архивирована"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/BlogPost"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Blog post not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "properties": {
                                                "en": {
                                                    "type": "string",
                                                    "example": "Blog post not found"
                                                },
                                                "ru": {
                                                    "type": "string",
                                                    "example": "Статья в блоге не найдена"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "properties": {
                                                "en": {
                                                    "type": "string",
                                                    "example": "Unauthenticated"
                                                },
                                                "ru": {
                                                    "type": "string",
                                                    "example": "Не аутентифицирован"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden - User is not authorized to archive this blog post",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "properties": {
                                                "en": {
                                                    "type": "string",
                                                    "example": "Forbidden"
                                                },
                                                "ru": {
                                                    "type": "string",
                                                    "example": "Доступ запрещен"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "BlogPost": {
                "title": "Blog Post",
                "description": "Blog post model",
                "properties": {
                    "id": {
                        "type": "string",
                        "format": "uuid",
                        "example": "a1b2c3d4-e5f6-7890-1234-567890abcdef"
                    },
                    "title": {
                        "type": "string",
                        "example": "My First Blog Post"
                    },
                    "slug": {
                        "type": "string",
                        "example": "my-first-blog-post"
                    },
                    "content": {
                        "type": "string",
                        "example": "This is the full content of my blog post..."
                    },
                    "author_id": {
                        "type": "string",
                        "format": "uuid",
                        "example": "b2c3d4e5-f6a7-8901-2345-67890abcdef1"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "draft",
                            "published",
                            "archived"
                        ],
                        "example": "published"
                    },
                    "published_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2023-10-27T10:00:00.000000Z",
                        "nullable": true
                    },
                    "tags": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "example": [
                            "laravel",
                            "php",
                            "web development"
                        ]
                    }
                },
                "type": "object"
            },
            "Token": {
                "title": "JWT Token",
                "description": "JWT authentication token response",
                "properties": {
                    "access_token": {
                        "type": "string",
                        "example": "eyJ0eXAiOiJKV1QiLCJhbGc..."
                    },
                    "token_type": {
                        "type": "string",
                        "example": "bearer"
                    },
                    "expires_in": {
                        "description": "Token expiration time in seconds",
                        "type": "integer",
                        "example": 3600
                    }
                },
                "type": "object"
            },
            "User": {
                "title": "User",
                "description": "User model with UUID identifier",
                "required": [
                    "id",
                    "name",
                    "email",
                    "status"
                ],
                "properties": {
                    "id": {
                        "description": "User unique identifier (UUID v4)",
                        "type": "string",
                        "format": "uuid",
                        "example": "550e8400-e29b-41d4-a716-446655440000"
                    },
                    "name": {
                        "description": "User full name",
                        "type": "string",
                        "example": "John Doe"
                    },
                    "email": {
                        "description": "User email address",
                        "type": "string",
                        "format": "email",
                        "example": "john@example.com"
                    },
                    "status": {
                        "description": "User status",
                        "type": "string",
                        "enum": [
                            "active",
                            "inactive",
                            "pending",
                            "suspended"
                        ],
                        "example": "active"
                    },
                    "email_verified_at": {
                        "description": "Email verification timestamp",
                        "type": "string",
                        "format": "date-time",
                        "example": "2024-01-15T10:30:00.000000Z",
                        "nullable": true
                    },
                    "created_at": {
                        "description": "User creation timestamp",
                        "type": "string",
                        "format": "date-time",
                        "example": "2024-01-15T10:30:00.000000Z"
                    },
                    "updated_at": {
                        "description": "User last update timestamp",
                        "type": "string",
                        "format": "date-time",
                        "example": "2024-01-15T10:30:00.000000Z"
                    }
                },
                "type": "object"
            }
        },
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "bearerFormat": "JWT",
                "scheme": "bearer"
            }
        }
    },
    "tags": [
        {
            "name": "Blog Posts",
            "description": "Blog Post Management"
        },
        {
            "name": "Authentication",
            "description": "Authentication endpoints"
        }
    ]
}