includes:
    - vendor/nunomaduro/larastan/extension.neon

parameters:
  paths:
    - app
    - routes

  excludePaths:
    - app/Http/*
    - app/Shared/Exceptions/*
    - tests/*
    - tests/**

  level: 6 # можешь повышать по мере готовности

  ignoreErrors:
    # можно добавлять конкретные ошибки по regex
    # пример:
    # - '#Access to an undefined property App\\Models\\.*#'

  checkModelAppends: false
